<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=adatumstoragenazahm;AccountKey=h00mucpWcXrNiQzOv4Tz4pV/DYN+KPdE0yOPWMlW1Yk/x5arBOkfY19EMcf+9UEKrS2JjfyfjB+LRanGlYWIoA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>